##### Bibliotecas

In [54]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import pandas as pd

##### Navegador

In [55]:
nav = webdriver.Chrome()

##### Base de dados

In [56]:
tabela_produtos = pd.read_excel('buscas.xlsx')
display(tabela_produtos)

             Nome Termos banidos  Preço mínimo  Preço máximo
0  iphone 12 64gb     mini watch          3000          3500
1        rtx 3060     zota galax          4000          4500

##### Google Shopping

In [57]:
nav.get('https://www.google.com.br/')

# Busca
produto = "iphone 12 64gb"
nav.find_element(By.XPATH, '//*[@id="APjFqb"]').send_keys(produto, Keys.ENTER)

# Aba Shopping
elementos = nav.find_element(By.CLASS_NAME, 'O3S9Rb').click()